In [45]:
#Transaction for mobile phones and Camera accessories

import numpy as np
import pandas as pd
from random import *
seed(10)
final_list=[]


#camera possibilities
camera_possibilities=["Camera","Focus-lens","SD-card","Camera-holder","Auto-focus-mount-adapter" , "Tripod-stand" , "Photographic-lighting"]
camera_possibilities_weights=[0.6 , 0.2 , 0.4 , 0.4 , 0.1 , 0.1, 0.07]

def makecameratransactions(camera_possibilities,k,camera_possibilities_weights,final_list):
    for i in range(50):
        final_list.append(list(set(choices(camera_possibilities,k=4+k,weights = camera_possibilities_weights))))
    for i in range(100):
        final_list.append(list(set(choices(camera_possibilities,k=2+k,weights = camera_possibilities_weights))))
    for i in range(70):
        final_list.append(list(set(choices(camera_possibilities,k=3+k,weights = camera_possibilities_weights))))
    return final_list
final_list = makecameratransactions(camera_possibilities,len(camera_possibilities)-6,camera_possibilities_weights,final_list)


#mobile-phone possibilities
mobile_possibilities = ["Mobile-phone" , "Screen-Protector" , "Sim" , "SD-card" , "Cover-Case" , "Earphones" , "Power-Bank"]
mobile_possibilities_weights = [0.7 , 0.4 , 0.5 , 0.4 , 0.2 , 0.3, 0.07]
def makemobiletransactions(mobile_possibilities,k,mobile_possibilities_weights,final_list):
    for i in range(50):
        final_list.append(list(set(choices(mobile_possibilities,k=4+k,weights = mobile_possibilities_weights))))
    for i in range(100):
        final_list.append(list(set(choices(mobile_possibilities,k=2+k,weights = mobile_possibilities_weights))))
    for i in range(70):
        final_list.append(list(set(choices(mobile_possibilities,k=3+k,weights = mobile_possibilities_weights))))
    return final_list
final_list = makemobiletransactions(mobile_possibilities,0,mobile_possibilities_weights,final_list)


#dataframe making
n=len(final_list)
l=[]
customerid=[]

def mobilenumber(row):
    return ("70237110"+str(100-int(row[5:])))

for i in range(1,41):
    if i//10 > 0:
        customerid.append("CUST0"+str(i))
    elif i>=0:
        customerid.append("CUST00"+str(i))

for i in range(1,n+1):
    if i//1000 > 0:
        l.append("TI"+str(i))
    elif i//100 > 0:    
        l.append("TI0"+str(i))
    elif i//10 > 0:
        l.append("TI00"+str(i))
    elif i>=0:
        l.append("TI000"+str(i))

df = pd.DataFrame({"TransactionID":l})
df['Transaction']=final_list
df['CustomerID']=choices(customerid,k=n)
df['Mobile_number'] = df['CustomerID'].apply(mobilenumber)
print(df)

#df.to_csv("data_mining-data.csv")

    TransactionID                                        Transaction  \
0          TI0001                   [Camera, SD-card, Camera-holder]
1          TI0002       [Camera, Focus-lens, SD-card, Camera-holder]
2          TI0003  [Camera, Auto-focus-mount-adapter, Tripod-stan...
3          TI0004       [Camera, Focus-lens, SD-card, Camera-holder]
4          TI0005     [Camera, Camera-holder, Photographic-lighting]
..            ...                                                ...
435        TI0436                     [Cover-Case, Screen-Protector]
436        TI0437                         [Power-Bank, SD-card, Sim]
437        TI0438                   [SD-card, Screen-Protector, Sim]
438        TI0439                                [Mobile-phone, Sim]
439        TI0440                            [Screen-Protector, Sim]

    CustomerID Mobile_number
0      CUST023    7023711077
1      CUST012    7023711088
2      CUST034    7023711066
3      CUST008    7023711092
4      CUST029    7023711071
..         ...           ...
435    CUST006    7023711094
436    CUST034    7023711066
437    CUST021    7023711079
438    CUST010    7023711090
439    CUST016    7023711084

[440 rows x 4 columns]

In [46]:
# camera selling and costing price and profit   
# Note -: including the gst(taking it to be 12%) in bill will at last be paid by the customer and thus our profit at
# last will be, profit = selling price - cost
len(camera_possibilities)
camera_possibilities

camera_selling_prices = [50000,15000,1250,2500,14700,1750,3600]
weight_for_costing_camera = [0.7,0.64,0.95,0.75,0.85,0.67,0.75]
#camera_costing_prices = [(50000*0.7),(150000*0.64),(1250*0.95),(2500*0.75),(14700*0.85),(1750*0.67),(3600*0.0.75)]
camera_costing_prices = [camera_selling_prices[i]*weight_for_costing_camera[i] for i in range(len(camera_selling_prices))]
camera_profit = [camera_selling_prices[i] - camera_costing_prices[i] for i in range(len(camera_costing_prices))]

In [47]:
#mobile sellig and costing price and profit
print(len(mobile_possibilities))
mobile_possibilities


mobile_possibilities_for_price_table = ['Mobile-phone','Screen-Protector','Sim','Cover-Case','Earphones','Power-Bank']
mobile_selling_prices = [45000,300,150,1100,2500,2500]
weight_for_costing_mobiles = [0.90,0.3,0.80,0.4,0.8,0.5]
mobile_costing_prices = [mobile_selling_prices[i]*weight_for_costing_mobiles[i] for i in range(len(mobile_selling_prices))]
mobile_profit = [mobile_selling_prices[i]-mobile_costing_prices[i] for i in range(len(mobile_possibilities_for_price_table))]

7

In [48]:
# making the product description table

products_name = mobile_possibilities_for_price_table + camera_possibilities
products_selling_prices = mobile_selling_prices + camera_selling_prices
products_costing_prices = mobile_costing_prices + camera_costing_prices
products_profit = mobile_profit + camera_profit

products = pd.DataFrame({"Product Name":products_name})
products["Costing Price"] = products_costing_prices
products["Selling Price"] = products_selling_prices
products["Profit"] = products_profit
products

                Product Name  Costing Price  Selling Price   Profit
0               Mobile-phone        40500.0          45000   4500.0
1           Screen-Protector           90.0            300    210.0
2                        Sim          120.0            150     30.0
3                 Cover-Case          440.0           1100    660.0
4                  Earphones         2000.0           2500    500.0
5                 Power-Bank         1250.0           2500   1250.0
6                     Camera        35000.0          50000  15000.0
7                 Focus-lens         9600.0          15000   5400.0
8                    SD-card         1187.5           1250     62.5
9              Camera-holder         1875.0           2500    625.0
10  Auto-focus-mount-adapter        12495.0          14700   2205.0
11              Tripod-stand         1172.5           1750    577.5
12     Photographic-lighting         2700.0           3600    900.0

In [12]:
#input names of the customers
names = list(input("").split())
#Aahron Aakash Aalam Aamer Aamir Aaran Aaren Ballad Ballard Ballentine Ballerd Ballinamore Balshazar Baltasar Baltazar
#Balthazar Balthazzar Baltsaros Sady Saeed Safak Safer Safyr Saga Sagar Sagaz Sage Sagittarius Sagiv Sago Sahadev 
#Sahale Sahen Sahib Said Saiyid Saje Sakima Sal Salamon

Aahron Aakash Aalam Aamer Aamir Aaran Aaren Ballad Ballard Ballentine Ballerd Ballinamore Balshazar Baltasar Baltazar Balthazar Balthazzar Baltsaros Sady Saeed Safak Safer Safyr Saga Sagar Sagaz Sage Sagittarius Sagiv Sago Sahadev  Sahale Sahen Sahib Said Saiyid Saje Sakima Sal Salamon

In [49]:
#adding names to the df
def addname(row):
    return names[int(row[-2:])-1]

df["Customer Name"] = df["CustomerID"].apply(addname)
df

,TransactionID,Transaction,CustomerID,Mobile_number,Customer Name
0,TI0001,"[Camera, SD-card, Camera-holder]",CUST023,7023711077,Safyr
1,TI0002,"[Camera, Focus-lens, SD-card, Camera-holder]",CUST012,7023711088,Ballinamore
2,TI0003,"[Camera, Auto-focus-mount-adapter, Tripod-stan...",CUST034,7023711066,Sahib
3,TI0004,"[Camera, Focus-lens, SD-card, Camera-holder]",CUST008,7023711092,Ballad
4,TI0005,"[Camera, Camera-holder, Photographic-lighting]",CUST029,7023711071,Sagiv
...,...,...,...,...,...
435,TI0436,"[Cover-Case, Screen-Protector]",CUST006,7023711094,Aaran
436,TI0437,"[Power-Bank, SD-card, Sim]",CUST034,7023711066,Sahib
437,TI0438,"[SD-card, Screen-Protector, Sim]",CUST021,7023711079,Safak
438,TI0439,"[Mobile-phone, Sim]",CUST010,7023711090,Ballentine
439,TI0440,"[Screen-Protector, Sim]",CUST016,7023711084,Balthazar

In [50]:
#adding age to the df
def giveage(row):
    temp = int(row[-2:])
    if(temp>30):
        return int(((int(temp*1.45))%10)+50)
    elif temp<10:
        return int(((int(temp*0.3))%10)+10)
    else:
        return int(((int(temp*0.37))%20)+20)
    
df["Age"] = df["CustomerID"].apply(giveage)
df["Age"].nunique()

21

In [51]:
#checking unque values count
df.groupby("Age")["CustomerID"].nunique()

Age
10    3
11    3
12    3
23    1
24    3
25    3
26    2
27    3
28    3
29    3
30    2
31    1
50    1
52    1
53    1
54    1
55    1
56    2
57    1
58    1
59    1
Name: CustomerID, dtype: int64

In [105]:
# adding the bill amount (with and without gst 12%)

def addbill_without_gst(row):
    billvalue = 0
    for i in row:
        billvalue = billvalue + int(products.loc[products["Product Name"] == i]["Selling Price"])
    return billvalue


def addbill_with_gst(row):
    return (row*1.12)

df["Billing Without GST"] = df["Transaction"].apply(addbill_without_gst)
df["Billing With GST"] = df["Billing Without GST"].apply(addbill_with_gst)

In [108]:
df

,TransactionID,Transaction,CustomerID,Mobile_number,Customer Name,Age,Billing Without GST,Billing With GST
0,TI0001,"[Camera, SD-card, Camera-holder]",CUST023,7023711077,Safyr,28,53750,60200.0
1,TI0002,"[Camera, Focus-lens, SD-card, Camera-holder]",CUST012,7023711088,Ballinamore,24,68750,77000.0
2,TI0003,"[Camera, Auto-focus-mount-adapter, Tripod-stan...",CUST034,7023711066,Sahib,59,70050,78456.0
3,TI0004,"[Camera, Focus-lens, SD-card, Camera-holder]",CUST008,7023711092,Ballad,12,68750,77000.0
4,TI0005,"[Camera, Camera-holder, Photographic-lighting]",CUST029,7023711071,Sagiv,30,56100,62832.0
...,...,...,...,...,...,...,...,...
435,TI0436,"[Cover-Case, Screen-Protector]",CUST006,7023711094,Aaran,11,1400,1568.0
436,TI0437,"[Power-Bank, SD-card, Sim]",CUST034,7023711066,Sahib,59,3900,4368.0
437,TI0438,"[SD-card, Screen-Protector, Sim]",CUST021,7023711079,Safak,27,1700,1904.0
438,TI0439,"[Mobile-phone, Sim]",CUST010,7023711090,Ballentine,23,45150,50568.0
439,TI0440,"[Screen-Protector, Sim]",CUST016,7023711084,Balthazar,25,450,504.0

In [95]:
int(products.loc[products["Product Name"] == "Mobile-phone"]["Selling Price"])

45000

In [146]:
random_numbers_400 = []
for i in range(10000):
    random_numbers_400.append(randint(1,10))
#random_numbers_400

In [172]:
#making and adding dates of the transactions

#making dates
temp_dataframe = pd.DataFrame()
temp_dataframe['Date'] = pd.date_range(start='1/1/2017',end = "1/1/2017", periods=5)
last_date = temp_dataframe.get_value(len(temp_dataframe)-1,0,takeable = True)
i=0
while 1:
    if(len(temp_dataframe)>428):
        temp = pd.date_range(start = last_date, periods = 440 - len(temp_dataframe),freq ="D")
        temp = pd.DataFrame({"Date" : temp})
        temp_dataframe = temp_dataframe.append(temp,sort=False)
        break
    temp = pd.date_range(start=last_date,end = last_date, periods = (random_numbers_400[i]%5))
    temp = pd.DataFrame({"Date" : temp})
    temp_dataframe = temp_dataframe.append( temp,sort = False )
    
    last_date = temp_dataframe.get_value(len(temp_dataframe)-1,0,takeable = True)
    temp = pd.date_range(start=last_date, periods=3,freq = "D")
    temp = pd.DataFrame({"Date" : temp})
    temp_dataframe = temp_dataframe.append( temp,sort = False )
    last_date = temp_dataframe.get_value(len(temp_dataframe)-1,0,takeable = True)
    i+=1
len(temp_dataframe)

df["Date"] = list(temp_dataframe["Date"])
df

C:\Users\deepa\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\deepa\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\deepa\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,TransactionID,Transaction,CustomerID,Mobile_number,Customer Name,Age,Billing Without GST,Billing With GST,Date
0,TI0001,"[Camera, SD-card, Camera-holder]",CUST023,7023711077,Safyr,28,53750,60200.0,2017-01-01
1,TI0002,"[Camera, Focus-lens, SD-card, Camera-holder]",CUST012,7023711088,Ballinamore,24,68750,77000.0,2017-01-01
2,TI0003,"[Camera, Auto-focus-mount-adapter, Tripod-stan...",CUST034,7023711066,Sahib,59,70050,78456.0,2017-01-01
3,TI0004,"[Camera, Focus-lens, SD-card, Camera-holder]",CUST008,7023711092,Ballad,12,68750,77000.0,2017-01-01
4,TI0005,"[Camera, Camera-holder, Photographic-lighting]",CUST029,7023711071,Sagiv,30,56100,62832.0,2017-01-01
...,...,...,...,...,...,...,...,...,...
435,TI0436,"[Cover-Case, Screen-Protector]",CUST006,7023711094,Aaran,11,1400,1568.0,2017-06-29
436,TI0437,"[Power-Bank, SD-card, Sim]",CUST034,7023711066,Sahib,59,3900,4368.0,2017-06-30
437,TI0438,"[SD-card, Screen-Protector, Sim]",CUST021,7023711079,Safak,27,1700,1904.0,2017-07-01
438,TI0439,"[Mobile-phone, Sim]",CUST010,7023711090,Ballentine,23,45150,50568.0,2017-07-02
439,TI0440,"[Screen-Protector, Sim]",CUST016,7023711084,Balthazar,25,450,504.0,2017-07-03

C:\Users\deepa\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

         Date
0  2017-01-01
1  2017-01-02
0  2017-01-02
1  2017-01-03
2  2017-01-04
3  2017-01-05
4  2017-01-06
5  2017-01-07
6  2017-01-08
7  2017-01-09
8  2017-01-10
9  2017-01-11
10 2017-01-12
11 2017-01-13
12 2017-01-14
13 2017-01-15
14 2017-01-16
15 2017-01-17
16 2017-01-18
17 2017-01-19
18 2017-01-20
19 2017-01-21
20 2017-01-22
21 2017-01-23
22 2017-01-24

In [176]:
# exporting the tables - 
#1.data_table
#2.products_table

df.to_csv("Data Table.csv")
products.to_csv("Products.csv")